html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: url(../maze/img/menu_bg.png) center center / cover no-repeat;
}

#header {
  position: absolute;
  height: 60%;
  padding-top: 8%;
  /* background: url(maze/img/helps/level_help_0.png) center top / contain no-repeat rgb(255, 255, 255); */
  margin: 5% 25%;
  width: 50%;
  position: absolute;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover > text {
  fill: #666;
}

#headerImg {
  width: 60%;
}

button#start {
  background-image: url(../maze/img/buttons/button_start.png);
  font-size: 3vw;

}
button#start:hover{
  background-image: url(../maze/img/buttons/button_start_hover.png);
}
button#start:active{
  background-image: url(../maze/img/buttons/button_start_active.png);
  padding-bottom: 0px;
}