html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: url(../maze/img/map_bg.png) center center / contain no-repeat rgb(211, 217, 147);
}

#header {
  position: absolute;
  padding-top: 8%;
  /* background: url(maze/img/helps/level_help_0.png) center top / contain no-repeat rgb(255, 255, 255); */
  margin: 5% 25%;
  width: 50%;
  position: absolute;
  text-align: center;
}

#startButton {
  font-size: 36px;
}

a {
  text-decoration: none;
}

a:hover > text {
  fill: #666;
}

#imgAle, #imgRobot {
  height: 300px;
}