/*@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');*/

@font-face {
  font-family: Quicksand-Light;
  src: url(fonts/Quicksand-Light.ttf);
}
@font-face {
  font-family: Quicksand-Regular;
  src: url(fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand-Medium;
  src: url(fonts/Quicksand-Medium.ttf);
}
@font-face {
  font-family: Quicksand-Bold;
  src: url(fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: Pacifico-Regular;
  src: url(fonts/Pacifico-Regular.ttf);
}

#blockly {
  position: fixed;
  bottom: 10px;
}

#capacityBubble {
  position: absolute;
  left: 280px;
  width: 380px;
  bottom: 100px;
}
html[dir="RTL"] #capacityBubble {
  left: auto;
  right: 10px;
}
#capacity {
  display: none;
  color: #fff;
  padding: 5px 1em;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  font-size: large;
}
.capacityNumber {
  font-weight: bold;
}
#sampleOneTopBlock {
  height: 80px;
  width: 250px;
}
#pegSpin {
  height: 50px;
  width: 49px;
  background-position: -343px 0px;
  margin-top: 10px;
  position: absolute;
}
html[dir="RTL"] #pegSpin {
  background-position: -441px 0px;
}

.helpMenuFake {
  border-radius: 4px;
  background-color: #bfcdde;
  color: #000;
  padding: 0 1ex;
  cursor: default;
}
img[src$="help_up.png"] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}
img[src$="help_down.png"] {
  margin: 0 10px -20px;
  height: 64px;
  width: 23px;
}

#svgMaze {
  overflow: hidden;
}

/* 'Look' icon */
#look>path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

/* Buttons */
html[dir="RTL"] button.primary {
  text-align: right;
}

/* Sprited icons. */
#pegmanButton {
  padding: 0;
  position: relative;
}
#pegmanButton:active {
  border: 1px solid #ddd !important;
}
#pegmanButton>img {
  margin-left: -0.5ex;
  margin-right: 0.5ex;
  height: 38px;
  width: 49px;
  background-position: -980px 0px;
  opacity: 0.8;
}
html[dir="RTL"] #pegmanButton>img {
  margin-left: 0.5ex;
  margin-right: -0.5ex;
}
#pegmanButton>span {
  position: absolute;
  top: 0.8ex;
  margin-left: -15px;
}
html[dir="RTL"] #pegmanButton>span {
  margin-right: -15px;
}
#pegmanMenu {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888;
  display: none;
  position: absolute;
}
#pegmanMenu>div {
  background-color: #fff;
}
#pegmanMenu>div:hover {
  background-color: #57e;
}
#pegmanMenu>div>img {
  height: 38px;
  width: 49px;  
  background-position: -980px 0px;
}

/* Custom blocks debora */
.blocklyFlyoutBackground {
  fill: #eff1f7;
  fill-opacity: 1;
}

.blocklyText {
    cursor: default;
    fill: #fff;
    font-size: 10pt;
    font-family: Quicksand-Medium, sans-serif;
}

.blocklyHighlightedConnectionPath {
    fill: none;
    stroke: #293c5b;
    stroke-width: 4px;
}
.blocklySelected>.blocklyPath {
  stroke: #293c5b;
  stroke-width: 3px;
}

.blocklySelected>.blocklyCommentTarget {
  stroke: #293c5b;
  stroke-width: 3px;
}

.blocklyDeleteIconShape.blocklyDeleteIconHighlighted {
  stroke: #f00;
}

#topBar {
  background-color: #293c5b;
  color: #fff;
  display: none;
}



#mapButtonDiv, #creditsButtonDiv {
  z-index: 9999;
  right: 50px;
  position: fixed;
  top: 15px;
}

#helpButtonDiv, #preferencesButtonDiv {
  z-index: 9999;
  right: 185px;
  position: fixed;
  top: 15px;
}


#topBar a {
  color: #ddd;
}

body {
  margin: 0;
  overflow: hidden;
}

#divRunButton {
  bottom: 3.5%;
  position: fixed;
  left: 25%;
}

#resetButton {
  display: none;
}

.musicHide {
  display: none; 
}


.helpModalImage {
  height: 440px;
}

.mapModalImage {
  height: 580px;
}

#dialogMap {
  background: url(img/map_bg.png) no-repeat center;
  background-size: cover;
  height: 100%;
}


#dialogHelp {
  height: 100%;
}

#dialogPreferences ul {
  position: absolute;
  display: flex;
}

.preferences:nth-child(1) {
  top: 10%;
}
.preferences:nth-child(2) {
  top: 40%;
}


#dialogPreferences li {
  list-style: none;
}

#divOK {
  right: 0;
  position: absolute;
  bottom: 0;
}

#pegSpin {
  display: none;
}

#dialogMap ul{

}

#dialogMap ul li{
  display: inline;
  list-style: none;
}

#mapButton1 {
  top: 22%;
  left: 11%;
  position: absolute;
}
#mapButton2 {
  bottom: 28%;
  left: 20%;
  position: absolute;
}
#mapButton3 {
  top: 30%;
  right: 36%;
  position: absolute;
}
#mapButton4 {
  top: 32%;
  right: 7%;
  position: absolute;
}
#mapButton5 {
  bottom: 21%;
  right: 16%;
  position: absolute;
}


.locked {
  position: absolute;
  margin-left: -5em;
}
.not.locked {
  display: none;
}

#dialogEnd {
  display: none;
  color: #000;
    border: 1px solid #ccc;
    position: absolute;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #888;
    background-color: white;

    overflow: hidden;
    height: 0px;
    padding-top: 43%;
    background: url(img/end.gif) center top / contain no-repeat rgb(255, 255, 255);
    margin: 5% 25%;
    width: 50%;
    visibility: visible;
    z-index: 10;
}


.blocklyWidgetDiv .goog-menu {
    background: #efefef;
    border-color: #ccc;   
    max-height: none;
}

.blocklyWidgetDiv .goog-menuitem-content {
    font: normal 15pt Quicksand-Medium, sans-serif;
}

#backToMenu {
  font: normal 15pt Quicksand-Bold, cursive;
  position: absolute;
  bottom: 1%;
  color: white;
  right: 1%;
  z-index: 10;
}